<nav class="navbar navbar-expand-lg d-flex navbar-color">
    <div class="container-fluid">
        <a href="/" class="navbar-brand text-white logo">SuperkingForex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><a href="/" class="navbar-brand text-white logo">SuperkingForex</a></h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item me-2"><a class="nav-link text-white nav-link-hover js-scroll-trigger" href="/#d24575e9-0266-42b0-8740-bca715dd5cdb">Pricing</a></li>
                    <li class="nav-item me-2"><a class="nav-link text-white nav-link-hover" href="/feature">Feature</a></li>
                    <li class="nav-item me-2"><a class="nav-link text-white nav-link-hover" href="/reviews">Testimonials & Reviews</a></li>
                    <li class="nav-item"><a class="nav-link text-white btn btn-primary get_link_btn" href="https://t.me/+qZ7nSdJW81IwY2Y1" target="_blank">Get Free Signals</a></li>
                </ul>
            </div>
        </div> 
    </div>
  </nav>