<div class="wrapper">
    <div class="pricing-table gprice-single">
        <div class="head">
             <h4 class="title">1 Month</h4> 
        </div>
        <div class="content">
            <div class="price">
                <h1>$50</h1>
            </div>
            <ul>
                <li>Trade with Pro Trader</li>
                <li>Daily market signals</li>
                <li>Short term strategies</li>
                <li>Long term strategies</li>
                <li>1-3 Targets strategy</li>
                <li>Management tools</li>
                <li>Live Chat Support</li>
                <!-- <li> <del>Monthly Billing Software</del> </li>
                <li> <del>1 Free Website</del></li> -->

            </ul>
            <div class="sign-up">
                <a href="https://t.me/Superlative_support" class="btn bordered radius" target="_blank">Choose Plan</a>
            </div>
        </div>
    </div>
        <div class="pricing-table gprice-single">
            <div class="head">
                <h4 class="title">1 Year</h4>
            </div>
            <div class="content">
                <div class="price">
                    <h1>$120</h1>
                </div>
                <ul>
                    <li>Trade with Pro Trader</li>
                    <li>Daily market signals</li>
                    <li>Short term strategies</li>
                    <li>Long term strategies</li>
                    <li>1-3 Targets strategy</li>
                    <li>Management tools</li>
                    <li>Live Chat Support</li>
        
                </ul>
                <div class="sign-up">
                    <a href="https://t.me/Superlative_support" class="btn bordered radius" target="_blank">Choose Plan</a>
                </div>
            </div>
        </div>
            <div class="pricing-table gprice-single">
                <div class="head">
                    <h4 class="title">Lifetime</h4>
                </div>
                <div class="content">
                    <div class="price">
                        <h1>$250</h1>
                    </div>
                    <ul>
                        <li>Trade with Pro Trader</li>
                        <li>Daily market signals</li>
                        <li>Short term strategies</li>
                        <li>Long term strategies</li>
                        <li>1-3 Targets strategy</li>
                        <li>Management tools</li>
                        <li>Live Chat Support</li>
                    </ul>
                    <div class="sign-up">
                        <a href="https://t.me/Superlative_support" class="btn bordered radius" target="_blank">Choose Plan</a>
                    </div>
                </div>
            </div>
</div>