<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/links'); -%>

    <meta name="description"
      content="Experience the power of winning in forex trading with superkingforex! Gain an edge with our reliable signals, real-time updates, and expert analysis. Master the art of trading and unlock your financial potential. Join our community of successful traders and take control of your forex journey today!">
    <meta name="keywords"
      content="superkingforex, superkingforex.com, superking, Reliable forex signals, Forex trading tips, Forex signal service, Reliable forex broker, Beginner-friendly forex broker, Forex signals">
    <title>Home - Superkingforex.com</title>
</head>

<body>
  <!-- Navbar and hero section START -->
  <!-- ============================================= -->
  <header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg d-flex navbar_style">
      <div class="container-fluid">
        <a href="/" class="navbar-brand text-white logo">SuperkingForex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
          aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
              <a href="/" class="navbar-brand text-white logo">WinforexSignal</a>
            </h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item me-2">
                <a class="nav-link text-white nav-link-hover" href="/#d24575e9-0266-42b0-8740-bca715dd5cdb"
                  data-bs-dismiss="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-label="Close"
                  onclick="closeOffcanvas(event)">Pricing</a>
              <li class="nav-item me-2">
                <a class="nav-link text-white nav-link-hover" href="/feature">Feature</a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link text-white nav-link-hover" href="/reviews">Testimonials & Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white btn btn-primary get_link_btn" href="https://t.me/+qZ7nSdJW81IwY2Y1"
                  target="_blank">Get
                  Free Signals</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- overlay -->
    <div class="header-bg-overlay"></div>

    <!-- Video background container -->
    <div class="video-container">
      <!-- background video -->
      <video autoplay loop muted preload="none" crossorigin="anonymous">
        <source src="video/hero_section_bg_video-2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <!-- Header content -->
      <div class="header-content container-fluid">
        <div>
          <h1>
            Unlock the Power of Profit with <span>SuperKingForex</span> Your Gateway to Reliable Forex Signals!
          </h1>
          <p class="text-light hero-des">
            Your Ultimate Partner for Profitable Trades. Join our community
            today and take your trading skills to the next level with our
            expert signals and analysis.
          </p>
        </div>
        <a href="https://t.me/+qZ7nSdJW81IwY2Y1" target="_blank" class="btn btn-outline-primary btn-lg text-white"><img
            class="hero_join_logo" src="/img/telegram.svg" alt="telegram" />Get Your Free signals Here</a>
      </div>
    </div>
  </header>
  <!-- Navbar and hero section END -->
  <!-- ============================================= -->

  <!-- Features section START -->
  <!-- ============================================= -->
  <section class="forex-info">
    <%- include('partials/features'); -%>
  </section>
  <!-- Features section END -->
  <!-- ============================================= -->

  <!-- About section START -->
  <!-- ============================================= -->
  <section class="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h4 class="title_for_mobile">WHO WE ARE</h4>
          <img class="global_image" src="/img/about_image.png" alt="bitcoin">
        </div>
        <div class="col about_description">
          <h4 class="title_for_pc">WHO WE ARE</h4>
          <h3>Experienced traders offering authentic Forex signals for profitable trading.</h3>
          <p>We are experienced traders, dedicated to providing authentic Forex signals for profitable trading
            experiences to our subscribers.</p>
          <a class="btn btn-outline-primary glow_btn" href="https://t.me/Superlative_support" target="_blank">Contact
            Us</a>
        </div>
      </div>
    </div>
  </section>
  <!-- About section END -->
  <!-- ============================================= -->

  <!-- About section START -->
  <!-- ============================================= -->
  <section class="counter">
    <div class="container-fluid">
      <div class="counter_wraper">
        <div class="counter_content"><span>23872+</span>People In Free Channel</div>
        <div class="counter_content"><span class="vip_gold">600+</span>People In VIP Channel</div>
        <div class="counter_content"><span class="history_green">6</span>Years of History</div>
      </div>
    </div>
  </section>

  <section class="membership">
    <div class="container-fluid">
      <div class="membership_title">
        <h4>MEMBERSHIP</h4>
        <h2 id="d24575e9-0266-42b0-8740-bca715dd5cdb">Choose a Plan that
          Works for <span>You</span></h2>
      </div>
      <%- include('partials/membership'); -%>


        <!-- payment method -->
        <div class="payment_method">
          <h4>PAYMENT METHOD</h4>
          <h2>Trusted Payment Solutions for
            <span>You</span>
          </h2>
        </div>
    </div>

    <div class="main">
      <div class="stripe">
        <div class="cnt">
          <div class="elem">
            <img class="slider_img" src="/img/payment/googlepay.webp" alt="googlepay">
          </div>
          <div class="elem">
            <img class="slider_img" src="/img/payment/paytm.webp" alt="paytm">
          </div>
          <div class="elem">
            <img class="slider_img" src="/img/payment/perfectmoney.webp" alt="perfectmoney">
          </div>
          <div class="elem">
            <img class="slider_img" src="/img/payment/phonepay.webp" alt="phonepay">
          </div>
          <div class="elem">
            <img class="slider_img" src="/img/payment/skrill.webp" alt="skrill">
          </div>
          <div class="elem">
            <img class="slider_img" src="/img/payment/upi.webp" alt="upi">
          </div>
          <div class="elem">
            <img class="slider_img" src="/img/payment/visa.webp" alt="visa">
          </div>
          <div class="elem">
            <img class="slider_img" src="/img/payment/xoom.webp" alt="xoom">
          </div>
        </div>
      </div>

      <div class="stripe2">
        <div class="cnt">
          <div class="elem2">
            <img class="slider_img" src="/img/payment/googlepay.webp" alt="googlepay">
          </div>
          <div class="elem2">
            <img class="slider_img" src="/img/payment/paytm.webp" alt="paytm">
          </div>
          <div class="elem2">
            <img class="slider_img" src="/img/payment/perfectmoney.webp" alt="perfectmoney">
          </div>
          <div class="elem2">
            <img class="slider_img" src="/img/payment/phonepay.webp" alt="phonepay">
          </div>
          <div class="elem2">
            <img class="slider_img" src="/img/payment/skrill.webp" alt="skrill">
          </div>
          <div class="elem2">
            <img class="slider_img" src="/img/payment/upi.webp" alt="upi">
          </div>
          <div class="elem2">
            <img class="slider_img" src="/img/payment/visa.webp" alt="visa">
          </div>
          <div class="elem2">
            <img class="slider_img" src="/img/payment/xoom.webp" alt="xoom">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="footer">

    <%- include('partials/footer'); -%>
  </section>

</body>

</html>